h3 {
    margin-bottom: -8px;
    margin-left: 5px;
}

.content {
    max-width: 1024px;
    background-color: white;
    padding: 54px 55px 20px 55px;
    margin: auto;
}

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

.flex-item {
  background: #F2F1F1;
  width: 216px;
  height: 238px;
  margin-top: 60px;
  border-radius: 6px;
  position: relative;
  cursor: pointer;
  top: 0;
  box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  transition: all 0.3s ease-in-out;

  .name {
    color: black;
  }

  .image {
      position: absolute;
      top: 22px;
  }

  &:hover {
    top: -10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  }

}

.pokemon-details {
  .title {
    text-align: center;
    padding-bottom: 32px;
  }
  .image-box {
    background: #F2F1F1;
    padding: 25px;
    border-radius: 6px;
  }
}

.capitalize {
   text-transform: capitalize;
}

img {
  width: 100%;
  height: auto;
}